@page "/Checkout"
@using BlazorPizzaDemoApp.Services
@inject OrderStateService OrderState
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@implements IDisposable

<TopBar/>

<div class="main">
    <!-- 

     An EditForm has three events that run when it is submitted (you can not set they all at time):
    (basic validation at the individual input field level.)

    OnValidSubmit: This event fires when the user submits a form and their input passes validation.
    OnInvalidSubmit: This event fires when the user submits a form and their input fails validation.
    
    Note:If you use OnValidSubmit and OnInvalidSubmit instead, you don't have to check the validation state within each event.
    
    ( more complex validation requirements, such as cross-checking one input field against another to ensure a valid combination of values,)
    
    OnSubmit: This event fires whenever the user submits a form, regardless of the results of validation.
    
    Note:if you use OnSubmit, the other two events OnValidSubmit,OnInvalidSubmit won't fire and you need to check validation state.
    
    <EditForm Model="Order.DeliveryAddress" OnSubmit="CheckSubmission"> 
    removing OnSubmit="CheckSubmission" to make available Field validation and Model validation
    
    --->
@*     <EditForm Model="Order.DeliveryAddress" OnSubmit=@HandleSubmission>
    This code bellow will fire an error, due a EditForm requires a Model parameter, or an EditContext parameter, but not both.
    <EditForm EditContext=editContext Model="Order.DeliveryAddress"  OnValidSubmit=@OnValidPlacerOrder OnInvalidSubmit=@OnInvalidShowError> *@
    <EditForm EditContext=editContext OnValidSubmit=OnValidPlacerOrder>
        <div class="checkout-cols">
        <div class="checkout-order-details">
            <h4>Review order</h4>
            <OrderReview Order="Order" />
        </div>
        <div class="checkout-delivery-address">
            <h4>Deliver to...</h4>
            @* Adding error message *@
            @if (isError)
                {
                    <div class="alert alert-danger ">Please, complete before place the Order.</div>
                }
            <AddressEditor Address="Order.DeliveryAddress" />
        </div>
    </div>
    @* Modify the button element with to call a PlaceOrder method. Add the @onclick and disabled attributes as show *@

   @* Removing @onCLick event from  <button class="checkout-button btn btn-warning" @onclick="PlaceOrder" disabled=@isSubmitting> *@
      @* Change the button element to use the isError parameter instead isSubmitted to disable button and enable when all correct have validations passed. *@
            <button class="checkout-button btn btn-warning" type="submit" disabled=@isError>
        Place order
    </button>
        <ValidationSummary />
        <DataAnnotationsValidator />
    </EditForm>
</div>

@code {
    Order Order => OrderState.Order;
    bool isSubmitting = false;
    bool isError = true;
    private EditContext editContext;

    /// <summary>
    ///Initialize the context with the order delivery address.
    /// </summary>
    protected override void OnInitialized()
    {
        Console.WriteLine($"isError value: {isError}");
        editContext = new(Order.DeliveryAddress);
        //when a field is changed,link an event handler to.
        editContext.OnFieldChanged += HandleFieldChanged;
    }
    /// <summary>
    /// Check to see if the model is valid and set the isError appropriately.
    /// </summary>
    /// <param name="sender"></param>
    /// <param name="e"></param>
    private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        //editContext.Validate() cheking the validation state within each event.
        // checks if the form is valid based on the defined data annotations and validation rules. If the form is valid, it will print “onSumission event fired.” to the console.
        isError = !editContext.Validate();
        StateHasChanged();
    }

    /// <summary>
    /// When you create an event handler, we should dispose of it when the checkout component no longer needs it.
    /// </summary>
    public void Dispose()
    {
        editContext.OnFieldChanged -= HandleFieldChanged;
    }


    public async Task PlaceOrder()
    {
        
        @* The preceding code will disable the Place order button, post JSON that will be added to pizza.db, clear the order, and use NavigationManager to redirect customers to the home page. *@

        // We don't need isSubmitting any more, since where are enableling/disableling the submit button according to isError parameter,
        //and it is set in HandleFieldChanged() method.
        
        //isSubmitting = true; 
        isError = false;
        var response = await HttpClient.PostAsJsonAsync(
            $"{NavigationManager.BaseUri}orders", OrderState.Order);
        int newOrderId = await response.Content.ReadFromJsonAsync<int>();
        OrderState.ResetOrder();
        // NavigationManager.NavigateTo("/myorders");
        NavigationManager.NavigateTo($"myorders/{newOrderId}");
    }

    /// <summary>
    ///  (note being Used)Code to handle the form submission with OnSubmit event.
    /// </summary>
    /// <returns></returns>
    public async Task CheckSubmission(EditContext editContext)
    {
        isSubmitting = true;

        //
        var deliveryAddress = editContext.Model as Address;
        isError = string.IsNullOrWhiteSpace(deliveryAddress?.Name)
            || string.IsNullOrWhiteSpace(deliveryAddress?.Line1)
            || string.IsNullOrWhiteSpace(deliveryAddress?.PostalCode);

        if (!isError)
        {
            await PlaceOrder();
        }

        isSubmitting = false;

    }
    /// <summary>
    ///  (note being Used)In the above code, HandleSubmission is triggered when the form is submitted and is valid.
    ///  //The Model parameter of the EditForm component is the model instance that the form is bound to.
    /// </summary>
    /// <param name="editContext"></param>
    void HandleSubmission(EditContext editContext)
    {
        //cheking the validation state within each event.
        // checks if the form is valid based on the defined data annotations and validation rules. If the form is valid, it will print “onSumission event fired.” to the console.

        if (editContext.Validate())
        {

            Console.WriteLine("onSumission event fired.");
        };
    }


   async Task OnValidPlacerOrder(EditContext context)
    {
        Console.WriteLine("OnValid event is fired and order placer.");
        // Store valid data here
        await PlaceOrder();
    }

    void OnInvalidShowError(EditContext context)    {

        Console.WriteLine("OnInvalidSubmit event is fired, nada need to be corrected.");
        // Take action here to help the user correct the issues
        isError = true;
    }

}
