<header class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>
    @* The active css class is now added automatically to pages by the NavLink component.
    You don't have to remember to do it on each page the navigation is on. *@
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>

    <NavLink href="myorders" class="nav-tab active">
        <img src="img/bike.svg" />
        <div>My Orders</div>
    </NavLink>
</header>


